<%- include("header") %>
    <div class="box" id="heading">
        <h1><%= kindOfDay %> </h1>
    </div>

    <div class="box">
            <% for(var i=0; i<nl.length; i++){ %>
        <div class="item">
                <input type="checkbox">
                <p><%= nl[i] %></p>
        </div>
            <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="txt" placeholder="add item">
            <button type="submit" name="button" value=<%= kindOfDay %>>+</button>
        </form>
    </div>

<%- include("footer") %>    

